.vscode
.gitignore
.git
.github
node_modules
grammar/
examples/
test/
tests/
docs/
src/
scripts/
**/*.vsix
out/
**/*.ts
tsconfig.json
webpack.config.js
.vscode-test.mjs
eslint.config.js
.prettierignore
.prettierrc
jest.config.js

syntaxes/README.md
syntaxes/ebnf.tmLanguage.yaml

ROADMAP.md
CONTRIBUTING.md
ISSUE_TEMPLATE.md
vsc-extension-quickstart.md

!dist/**/*.js.map