.vscode
.gitignore
node_modules
grammar/
examples/
test/
docs/
src/
scripts/
dist/**/*.vsix
out/
**/*.ts
tsconfig.json
webpack.config.js

syntaxes/README.md
syntaxes/ebnf.tmLanguage.yaml

CONTRIBUTING.md
ISSUE_TEMPLATE.md
vsc-extension-quickstart.md

!dist/**/*.js.map